.we{
    text-align: center;
    text-wrap: calc();
}
.ayush{
    position: absolute;
    right: 0px;
    width: 300px;
    display: inline-block;
    height: 30px;
    border: solid red 2px;
}
.raksh{
    display:inline;
    text-align: center;
    border: solid red;
}
